.menue {
    min-height: 100vh;
    align-items: center;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    &__listsContainer {
        max-width: 450px;
        min-width: 300px;
        font-family: "ArTarumianHeghnar";
        font-weight: normal;
        font-style: italic;
        list-style-type: none;
        color: #fff;
        margin: 40px 10px;
        padding: 40px 10px;
        box-sizing: border-box;
        line-height: 1.5;
        border-radius: 10px;
        word-wrap: break-word;
    }
    &__lists-titles {
        text-align: center;
        font-size: 25px;
        border-bottom: 1px solid white;
        border-radius: 5px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        @media screen and (max-width: 370px) {
            font-size: 20px;
        }
    }
    &__lists {
        font-size: 20px;
        @media screen and (max-width: 370px) {
            font-size: 16px;
        }
    }
}
